*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

.container{
    display: flex;
    flex-direction: row;
}

.navbar{
    width: 150px;
    height: 100%;
    min-height: 100vh;
    position: relative;
    color: #fff;
    background-color: #191718;
    font-weight: 700px;
      
}

.navbar-item{
    width: 100%;
    padding-top: 14px;
    padding-bottom: 11px;
    padding-left: 16px;
    border-bottom: 1px solid #5c5c5c;
    cursor: pointer;
}
.navbar-item:hover {
    background-color: #5c5c5c;
}

.main-content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.logo{
    width: 310px;
    height: 122px;
    margin-top: 20px;
}

.logo img{
    object-fit: cover;
}

.desc{
    margin: 30px 129px;
    background-color: #efefef;
    text-align: center;
}

.desc-box{
    margin: 38px 0;
}

.desc-title{
    font-size: 18px;
    font-weight: 700;

    margin-bottom: 18px;

}

.desc-paragraph{
    margin: 0 269px;

}

.content{
   display: flex;
   margin: 0 129px;
   justify-content: space-around;
}
.content-item {
    flex-basis: 30%;
}
.content-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 18px;
}
.content-img {
    display: inline;
}
.content-img img{
    width: 128px;
    height: 128px;
    object-fit: cover;
    float: left;
}
.content-img img::after{
    content: "";
    clear: left;
}

footer{
    display: flex;
    position: relative;
    border: 1px solid #000;
    width: 100%;
    height: 80px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

@media screen and (max-width: 1250px){
    .desc-paragraph{
        margin: 0;
    
    }
    
    .content-item {
        flex-basis: 80%;
    }
    .content{
        display: flex;
        flex-direction: column;
        
     }
     .navbar{
        height: 230vh;
     }
}